{% extends "layout/basic.html" %}
{% block title %}
Graff
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 400px; min-width: 310px"></div>
    <script>
        Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/large-dataset.json', function (data) {

    // Create a timer
    var start = +new Date();

    // Create the chart
    let arr = [];
    let vrem = '{{ x|escapejs }}'.replace(/[\[\]']+/g,'');
    vrem = vrem.split(', ');
    let tem = '{{ y|escapejs }}'.replace(/[\[\]']+/g,'');
    tem = tem.split(', ');
    for (let i = 0; i < Number('{{ dlin }}'); i++) {
        let mas=[];
        mas.push(Number(vrem[i])*1000);
        mas.push(Number(tem[i]));
        arr.push(mas);
    }

    Highcharts.stockChart('container', {
        chart: {
            events: {
                load: function () {
                    if (!window.TestController) {
                        this.setTitle(null, {
                            text: 'Built chart in ' + (new Date() - start) + 'ms'
                        });
                    }
                }
            },
            zoomType: 'x'
        },

        rangeSelector: {

            buttons: [{
                type: 'day',
                count: 3,
                text: '3d'
            }, {
                type: 'week',
                count: 1,
                text: '1w'
            }, {
                type: 'month',
                count: 1,
                text: '1m'
            }, {
                type: 'month',
                count: 6,
                text: '6m'
            }, {
                type: 'year',
                count: 1,
                text: '1y'
            }, {
                type: 'all',
                text: 'All'
            }],
            selected: 3
        },

        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },

        title: {
            text: 'Hourly temperatures in Vik i Sogn, Norway, 2009-2017'
        },

        subtitle: {
            text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
        },
        //var DataArr=[[{x:1575121202000,y:9},{x:1575121212000,y:15},{x:1575121222000,y:2},{x:1575121232000,y:11}
        series: [{
            name: 'Temperature',
            data: arr,//[[1575121202000,9],[1575121212000,15],[1575121222000,2],[1575121232000,11]],
            tooltip: {
                valueDecimals: '{{ posle_zap|escapejs }}',
                valueSuffix: '{{ ed_izmer|escapejs }}'
            }
        }]

    });
});
</script>
{% endblock %}
